asgiref==3.10.0
astroid==4.0.4
bleach==6.3.0
dill==0.4.1
dj-database-url==0.5.0
Django==4.2.26
django-summernote==0.8.20.0
gunicorn==25.1.0
isort==7.0.0
mccabe==0.7.0
packaging==26.0
pillow==12.1.1
platformdirs==4.7.0
psycopg2==2.9.11
pylint==4.0.4
pys==0.0.14.post4
sqlparse==0.5.3
tomlkit==0.14.0
webencodings==0.5.1
whitenoise==6.11.0
