asgiref==3.10.0
astroid==4.0.4
dill==0.4.1
Django==4.2.26
gunicorn==25.1.0
isort==7.0.0
mccabe==0.7.0
packaging==26.0
platformdirs==4.7.0
psycopg2==2.9.11
pylint==4.0.4
pys==0.0.14.post4
sqlparse==0.5.3
tomlkit==0.14.0
