

body{
  background-color: rgba(250, 238, 250, 0.156);
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2{
  color: rgb(212, 2, 6);
  text-align: center;
  font-size: 36px;
}



main{
    padding-top: 30px;
    background-color: rgb(174, 213, 214);;
    margin: auto;
    width: 600px;
    border-radius: 10px;
    border: 1px black solid;
    padding: 10px;
    flex: 1;
    
}


nav{
    width: 100%;
    margin-left: 100px;
}

nav a{
text-decoration: none;
border: 1px solid whitesmoke;
padding: 5px;
margin-left: 100px;
}

footer{
        padding-top: 10px;
        background-color: pink;
        margin-top: 20px;
}
    

