

body{
  background-color: rgba(250, 238, 250, 0.156);
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2{
  color: rgb(119, 119, 251);
  text-align: center;
  font-size: 36px;
  margin: 30px 0px;
}


main{
    margin: 30px auto;
    width: 500px;
    border-radius: 10px;
    border: 1px rgba(11, 11, 11, 0.264) solid;
    flex: 1; 
}


nav{
    width: 100%;
    margin-left: 100px;
}

nav a{
text-decoration: none;
border: 1px solid whitesmoke;
padding: 5px;
margin-left: 100px;
}

footer{
        padding-top: 10px;
        background-color: rgb(119, 119, 251);
        margin-top: 20px;
}
    

main img {
  width: 300px;
  height: 350px;
  display: block;
  margin: auto;
  border-radius: 5px;
}
