

body{
  background-color: rgba(250, 238, 250, 0.156);
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2{
  color: rgb(2, 2, 212);
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}



main{
    padding-top: 30px;
    margin: 30px auto;
    width: 800px;
    border-radius: 10px;
    border: 1px rgba(11, 11, 11, 0.264) solid;
    padding: 10px;
    flex: 1; 
}


nav{
    width: 100%;
    margin-left: 100px;
}

nav a{
text-decoration: none;
border: 1px solid whitesmoke;
padding: 5px;
margin-left: 100px;
}

footer{
        padding-top: 10px;
        background-color: pink;
        margin-top: 20px;
}
    

img {
  max-width: 700px;
  display: block;
  margin: auto;
  border-radius: 5px;
}