@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
   --main-font: "Zalando Sans Expanded", sans-serif;
   --secondary-font: "Poiret One", sans-serif;
}

body{
  background-color: rgba(250, 238, 250, 0.156);
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2{
  color: rgb(119, 119, 251);
  text-align: center;
  font-size: 36px;
  margin: 30px 0px;
}

h1, h2, h5, p {
  font-family: var(--main-font);
}

main{
    margin: 30px auto;
    width: 500px;
    border-radius: 10px;
    border: 1px rgba(11, 11, 11, 0.264) solid;
    flex: 1; 
}


nav{
    width: 100%;
    margin-left: 100px;
}

nav a{
text-decoration: none;
border: 1px solid whitesmoke;
padding: 5px;
margin-left: 100px;
}

footer{
        padding-top: 10px;
        background-color: rgb(119, 119, 251);
        margin-top: 20px;
}
    

main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.post-image {
  width: 450px;
  height: 600px;
  object-fit: cover;
  margin: auto;
  border-radius: 5px;
}

 label, form {
  font-family: var(--secondary-font);
}

.errorlist {
  color: #dc3545;
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  font-family: var(--main-font);
}

.like-btn i {
  font-size: 1.6rem;
  transition: transform 0.15s ease;
  color: #dc3545;
  font-weight: 800;

}

.like-btn:hover i {
  transform: scale(1.2);
}

#id_body {
  width: 100%;
  border-radius: 10px;
  border: 1px solid whitesmoke;
}

@media (min-width: 992px) {
  .large-screen {
    font-size: 24px;
  }
}

@media (min-width: 1400px) {
  .large-screen {
    font-size: 32px;
  }
}