{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Social Fitness{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'social/css/stylesheet.css' %}">

</head>
<body>
  <header>
   
    <nav>
      <a href="{% url 'landing' %}">Home</a>
      <a href="{% url 'feed' %}">Feed</a>
      <a href="{% url 'profile' %}">My Profile</a>
     
 
      {% if user.is_authenticated %}
      <form method="POST" action="{%  url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
      </form>
    {% else %}
  
      <a href="{% url 'account_signup' %}">Login</a>
    {% endif %}
    </nav>
    <hr>
  </header>


  <main>
    {% block content %}{% endblock %}
    
  </main>

  <footer>
    {% block copyright %}
      Created by Louise Skinner
    {% endblock copyright %}
  </footer>

  <script src="{% static 'social/js/script.js' %}"></script>
</body>
</html>
