<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Fitness</title>
</head>
<body>

{% extends 'social/base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
<h2>Social Feed</h2>
  
{% if posts %}
    {% for post in posts %}
      <div style="margin-bottom: 20px;">
        
        <img 
          src="{{ post.image.url }}" 
          alt="Post image" 
          style="max-width: 300px;"
        >

{% if post.caption %}
<p>{{ post.caption }}</p>

{% endif %}

<small>Posted by {{ post.user }} on {{ post.created_at }}</small>
</div>
{% endfor %}
{% else %}
<p>No posts yet.</p>
{% endif %}

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    {% endif %}
</ul>
</nav>
{% endif %}

{% endblock %}

{% block copyright %}
    Copyright 2023 Louise Skinner
{% endblock %}

</body>
</html>
