{% extends "social/base.html" %}

{% block content %}
  <h2>Create Post</h2>

  <form method="POST" enctype="multipart/form-data" class="create-post">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">Image</label>
      {{ form.image }}
    </div>
  
    <div class="mb-3">
      <label class="form-label">Caption</label>
       {{ form.caption }} 
    </div>

    <div class="mb-3">
      <label class="form-label">Image</label>
      {{ form.workout }}
    </div>
  
    <div class="mb-3">
      <label class="form-label">Caption</label>
       {{ form.intensity }} 
    </div>
    
    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
{% endblock %}