{% extends "social/base.html" %}

{% block content %}
  <h1>Social Fitness</h1>
  <p class="text-center p-3">Welcome to Social Fitness, a space built to motivate and connect people through fitness. Whether you’re training regularly or just starting out, Social Fitness provides a supportive environment where users can share their workouts, post images, and document their progress over time.
    Create an account or log in to join the Social Fitness community, where you can engage with other users by liking and commenting on posts, exploring shared workouts, and finding inspiration from others on similar fitness journeys.
    From your personal profile, you can manage your own posts, update your content, and track your activity while staying connected to the wider community.
    <br> Social Fitness is designed to encourage consistency, accountability, and motivation, helping you stay active and connected every step of the way.</p>

{% endblock %}