{% extends "social/base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
  <h2>My Posts</h2>

  {% if posts %}
    {% for post in posts %}
      <div style="margin-bottom: 20px;">
      
      {% if post.image %}
        {% cloudinary post.image width=500 crop="limit" class="post-image mb-3" %}
      {% endif %}

      <small class="text-muted mt-2 mb-2">
        Posted by {{ post.user.username }} on {{ post.created_at }}
      </small>
      <p><strong>Caption: </strong>{{ post.caption }}</p>
      <p><strong>Workout:</strong> {{ post.workout }}</p>
      <p><strong>Intensity:</strong> {{ post.intensity }}</p>

        <form method="POST" action="{% url 'delete_post' post.id %}"
          onsubmit="return confirm('Are you sure you want to delete this post? ');">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mt-3">Delete</button>
        </form>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <p>You haven’t posted anything yet.</p>
  {% endif %}
{% endblock %}
